---
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
 title="Colfrutas | Crescamos juntos"
 description="colfrutas somos una compañía dedicada a la exportación de frutas frescas colombianas bajo el principio de la calidad. Somos esfuerzo, resiliencia y amor por el campo."
>
 <main>
  <Hero />
 </main>
</Layout>
