---
import {
 RiFacebookFill,
 RiPhoneLine,
 RiInstagramLine,
 RiLinkedinFill,
} from "react-icons/ri/index.js";
---

<footer
 class="Footer"
>
 <span class="font-light"> &copy; copyright 2023 Colfrutas S.A.S</span>
 <div class="flex justify-center flex-col items-center gap-y-1">
  <h2 class="text-3xl font-bold">C.I COLFRUTAS S.A.S</h2>
  <h3 class="text-center font-nunito">DG 99 106C-32 Barrio los almendros</h3>
  <div class="flex items-center gap-x-5 lg:text-xl justify-center font-nunito">
   <h2 class="Footer-item">
    <RiPhoneLine />
    (57) 3197365616
   </h2>
   <h2 class="Footer-item">
    <RiPhoneLine /> (034) 8283342
   </h2>
  </div>
 </div>

 <div class="flex items-center justify-center flex-col gap-y-3">
  <h2 class="text-2xl font-bold">SIGUENOS</h2>
  <div class="flex gap-3">
   <a
    href="https://www.facebook.com/colfrutasexport/"
    title="link a facebook"
    target="_blank"
    class="Redes-sociales"
   >
    <RiFacebookFill />
   </a>
   <a
    href="https://instagram.com/colfrutasoficial?igshid=YmMyMTA2M2Y="
    title="link a instagram"
    target="_blank"
    class="Redes-sociales"
   >
    <RiInstagramLine />
   </a>
   <a
    href="https://www.linkedin.com/company/colfrutas/"
    title="link a linkedin"
    target="_blank"
    class="Redes-sociales"
   >
    <RiLinkedinFill />
   </a>
  </div>
 </div>
</footer>
<h2 class="bg-slate-800 text-base capitalize lg:text-start text-center">
 desarrollado por{" "}
 <a
  href="https://www.elvportafolio.website"
  target="_blank"
  title="mi portafolio web"
  class="font-nunito text-sky-100 hover:text-sky-500 duration-500 underline"
 >
  elver david peñate
 </a>
</h2>
