---
import { RiArrowRightLine } from "react-icons/ri/index.js";
import AlertMessage from "@components/Alert";
---

<div class="lg:mx-10 mx-4 mt-16">
 <section class="lg:flex items-center lg:justify-between lg:relative mb-80">
  <div class="mb-10 lg:mb-0">
   <h1
    class="font-kanit lg:text-5xl text-4xl lg:w-2/3 bg-gradient-to-tr from-emerald-600 to-emerald-700 text-transparent bg-clip-text"
   >
    Exportando la frescura de Colombia al mundo
   </h1>
   <h2 class="text-slate-700 lg:w-1/2 mb-5 font-nunito text-xl mt-3">
    Somos una compañía dedicada a la exportación de frutas frescas colombianas bajo el principio de
    la calidad. Somos esfuerzo, resiliencia y amor por el campo.
   </h2>
   <a href="/nosotros" class="Hero-Link group">
    ver mas
    <RiArrowRightLine className="text-xl group-hover:translate-x-2 transition-all" />
   </a>
  </div>
  <img
   src="./icono.png"
   width="450"
   height="450"
   alt=""
   class="lg:absolute right-0 top-1 lg:mx-0 mx-auto"
  />
 </section>
 <!-- message abvertencia -->
 <AlertMessage client:visible />

 <div class="flex flex-col lg:flex-row items-center lg:justify-between justify-center mt-16">
  <p
   class="lg:w-1/2 lg:ml-28 self-center font-nunito text-center lg:text-5xl text-3xl text-slate-700"
  >
   Nuestra marca <span class="font-berkshire text-emerald-600">The Green King</span>
   fue creada para darle una identidad especial a nuestra línea de productos frescos.
  </p>
  <img src="./hero.png" width="420" height="420" alt="" />
 </div>
</div>
<div class="flex lg:justify-around lg:flex-row justify-center flex-col items-center gap-y-4 mt-20">
 <img src="./caja1.png" width="250" alt="" />
 <img src="./caja2.png" width="250" alt="" />
 <img src="./caja3.png" width="250" alt="" />
</div>
<div class="mt-56 flex justify-center mx-5">
 <span class="text-2xl font-nunito text-slate-700">
  Nuestro objetivo es llevar la frescura y calidad de las <a
   href="/productos"
   class="font-kanit text-emerald-600">frutas colombianas</a
  > a todo el mundo
 </span>
</div>
<img src="./banners.png" alt="" class="mb-32 w-full" />
