---
import Navbar from "@components/Navbar";
import Footer from "@components/Footer.astro";
import "../styles/globalStyles.css";
export interface Props {
 title: string;
 description:string
}

const { title,description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
 <head>
  <!-- font nunito -->
  <link
   href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap"
   rel="stylesheet"
  />
  <!-- font berkshire -->
  <link
   href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap"
   rel="stylesheet"
  />
  <!-- font kanit -->
  <link
   href="https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap"
   rel="stylesheet"
  />
  <!-- font lora -->
  <link
   href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap"
   rel="stylesheet"
  />
  <!-- siteMap -->
  <link rel="sitemap" type="application/xml" href="/sitemap.xml" />
  <link rel="canonical" href="https://www.colfrutas.site" />
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="https://www.colfrutas.site/favicon-colfrutas.png" sizes="32x32"/>
  <link rel="apple-touch-icon" href="https://www.colfrutas.site/favicon-colfrutas.png">
  <meta charset="UTF-8" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <!-- meta google -->
  <meta name="google-site-verification" content="bd2TXzFjDTeG_jfRnYUHqRePypXy64q2PJ5_knndamo" />
  <meta
   name="description"
   content={description}
  />
  <title>{title}</title>
 </head>
 <body>
  <Navbar client:load />
  <slot />
  <Footer />
 </body>
</html>
